@import "tailwindcss";

@theme {
    --font-roobert: 'Roobert', sans-serif;
    --font-mono: "Geist Mono","Menlo","DejaVu Sans Mono","Consolas","Inconsolata",monospace;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-style-normal: normal;
    --font-style-italic: italic;
    --font-display-swap: swap;

    --breakpoint-sm: 40rem;
    --breakpoint-md: 48rem;
    --breakpoint-lg: 64rem;
    --breakpoint-xl: 80rem;
    --breakpoint-2xl: 96rem;
    --breakpoint-xs: 32rem;
    --breakpoint-max-layout-width: 89rem;

    --spacing: .25rem;
    --prose-spacing: 1.5rem;
    --text-xs: .8125rem;
    --text-xs--line-height: 1.25rem;
    --text-sm: .875rem;
    --text-sm--line-height: 1.25rem;
    --text-base: 1.0625rem;
    --text-base--line-height: 1.5rem;
    --text-lg: 1.125rem;
    --text-lg--line-height: 1.75rem;
    --text-xl: 1.3125rem;
    --text-xl--line-height: 1.625rem;
    --text-2xl: 1.5rem;
    --text-2xl--line-height: 1.25;
    --text-3xl: 1.875rem;
    --text-3xl--line-height: 1.2;
    --tracking-wide: .025em;
    --tracking-wider: .05em;
    --radius-sm: .25rem;
    --radius-md: .375rem;
    --radius-lg: .5rem;
    --radius-xl: .75rem;
    --ease-out: cubic-bezier(0,0,.2,1);
    --ease-in-out: cubic-bezier(.4,0,.2,1);
    --animate-spin: spin 1s linear infinite;
    --default-transition-duration: .15s;
    --default-transition-timing-function: cubic-bezier(.4,0,.2,1);
    --default-font-family: var(--font-sans);
    --default-mono-font-family: var(--font-mono);
    --breakpoint-max-layout-width: 89rem;
    --color-white: white;
    --color-black: black;
    --color-gray-50: oklch(0.9938 .0013 106);
    --color-gray-75: oklch(0.9818 .0013 106);
    --color-gray-100: oklch(0.9556 .0017 68);
    --color-gray-200: oklch(0.9335 .0027 106);
    --color-gray-300: oklch(0.9097 .0042 91);
    --color-gray-400: oklch(0.8852 .0042 91);
    --color-gray-500: oklch(0.8511 .0056 95);
    --color-gray-600: oklch(0.7911 .0084 99);
    --color-gray-700: oklch(0.6413 .0102 107);
    --color-gray-800: oklch(0.6048 .0089 107);
    --color-gray-900: oklch(0.4981 .0078 107);
    --color-gray-925: oklch(0.339 .0085 104);
    --color-gray-950: oklch(0.2431 .0076 95);
    --color-terracotta-50: oklch(0.979 .0111 46);
    --color-terracotta-75: oklch(0.9563 .0228 41);
    --color-terracotta-100: oklch(0.9358 .034361 43);
    --color-terracotta-200: oklch(0.8943 .0572 38);
    --color-terracotta-300: oklch(0.86 .078061 38);
    --color-terracotta-400: oklch(0.8332 .095 37);
    --color-terracotta-500: oklch(0.7593 .1014 38);
    --color-terracotta-600: oklch(0.7135 .0959 36);
    --color-terracotta-700: oklch(0.6607 .0807 37);
    --color-terracotta-800: oklch(0.5981 .101 37);
    --color-terracotta-900: oklch(0.4434 .0821 37);
    --color-terracotta-925: oklch(0.3489 .0246 38);
    --color-terracotta-950: oklch(0.2353 .0132 34);
    --color-blue-800: var(--color-blue);
    --color-red-800: var(--color-red);
    --color-content: white;
    --color-background: var(--color-gray-50);
    --color-foreground: var(--color-gray-900);
    --color-popup: white;
    --color-gridline: oklch(91.6% .004 264);
    --color-selection: oklch(80% .2 264/.25);
    --color-highlight: var(--color-blue);
    --color-line-highlight: oklch(80% .2 264/.1);
    --color-line-highlight-strong: oklch(80% .2 264/.25);
    --color-inline-highlight: oklch(80% .2 264/.15);
    --color-gray: var(--color-gray-600);
    --color-navy: oklch(31% .1 264);
    --color-blue: oklch(45% .2 264);
    --color-green: oklch(46% .12 150);
    --color-violet: oklch(40% .24 300);
    --color-red: oklch(50% .22 31);
    --text-xs--letter-spacing: .001em;
    --text-sm--letter-spacing: .016em;
    --text-md: .9375rem;
    --text-md--line-height: 1.375rem;
    --text-md--letter-spacing: .016em;
    --text-base--letter-spacing: 0em;
    --text-lg--letter-spacing: -.0025em;
    --text-xl--letter-spacing: -.005em;
    --text-2xl--letter-spacing: -.0125em;
    --text-3xl--letter-spacing: -.015em;
    --ease-out-fast: cubic-bezier(.45,1.005,0,1.005);
    --ease-in-slow: cubic-bezier(.375,.015,.545,.455);

    --color-shout: var(--color-gray-950);
    --color-loud: var(--color-gray-925);
    --color-base: var(--color-gray-900);
    --color-muted: var(--color-gray-700);
    --color-faint: var(--color-gray-600);
    --color-prose: var(--color-gray-800);

    --list-inset: 24px;
    --text-prose: 1.0625rem;
    --text-prose--line-height: 1.65em;
}

@layer base {
    :root { --mx: 0; --my: 0; }
    html {
        color-scheme: light dark;
        word-break: break-word;
        overflow-y: scroll;
        overflow-x: clip;
    }

    body {
        min-width: 320px;
        line-height: 1.5;
        font-size: var(--text-base);
        background-color: var(--color-background);
        color: var(--color-foreground);
        font-family: var(--font-roobert);
        font-synthesis: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        overflow-x: clip;
    }

    ::selection {
        background-color: var(--color-selection)
    }

    code {
        font-family: var(--font-mono);
        font-size: var(--text-sm);
        background-color: var(--color-terracotta-75);
        padding: 0rem 0.25rem;
        border-radius: var(--radius-sm);
        border: 1px solid var(--color-terracotta-100);
        color: var(--color-terracotta-800);
    }
    
    a[href] { cursor: pointer; }
    a[href] * { cursor: inherit; }   
}

@layer components {
    .ContentLayoutRoot {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
    }

    @media screen and (max-width: 40rem) {
      .ContentLayoutRoot {
        padding-inline: 2rem;
      }
      .BlogLayoutRoot {
        padding-inline: 2rem;
      }
    }

    @media screen and (max-width: 20rem) {
      .ContentLayoutRoot {
        padding-inline: 1rem;
      }
      .BlogLayoutRoot {
        padding-inline: 1rem;
      }
    }
  
    .ContentLayoutMain {
      width: 100%;
      max-width: 40rem;
      text-wrap: pretty;
    }

    .BlogLayoutRoot {
      display: flex;
      position: relative;
      margin-inline: auto;
      flex-direction: column;
      flex-grow: 1;
      align-items: start;
      justify-content: start;
      gap: 2rem;
      padding-top: 8rem;
      padding-bottom: 8rem;
      max-width: 40rem;
    }

    .BlogLayoutMain {
      width: 100%;
      font-size: var(--text-prose);
      color: var(--color-prose);
      line-height: var(--text-prose--line-height);
      letter-spacing: var(--text-base--letter-spacing);
    }

    .BlogLayoutMain :is(h1, h2, h3, h4, h5, h6) {
      font-weight: var(--font-weight-medium);
      color: var(--color-shout);
    }

    .BlogLayoutMain h1 {
      font-size: var(--text-2xl);
      line-height: var(--text-xl--line-height);
      letter-spacing: var(--text-xl--letter-spacing);
      margin-bottom: var(--prose-spacing);
    }

    .BlogLayoutMain h2 {
      font-size: var(--text-xl);
      line-height: var(--text-lg--line-height);
      letter-spacing: var(--text-lg--letter-spacing);
      margin-top: 3rem;
    }

    .BlogLayoutMain h3 {
      font-size: var(--text-xl);
      line-height: var(--text-base--line-height);
      letter-spacing: var(--text-base--letter-spacing);
      margin-top: var(--prose-spacing);
    }

    .BlogLayoutMain p {
      margin-top: var(--prose-spacing);
    }

    .BlogLayoutMain strong {
      font-weight: var(--font-weight-medium);
      color: var(--color-loud);
    }

    .BlogLayoutMain ul {
      list-style-type: none;
      padding-left: var(--list-inset);
      counter-reset: prose-ul 0;
      margin-top: 8px;
    }

    .BlogLayoutMain ul li {
      position: relative;
      margin-top: 8px;
    }

    .BlogLayoutMain ul li::before {
      content: counter(prose-ul, disc);
      min-width: var(--list-inset);
      text-align: center;
      position: absolute;
      right: calc(100% + 0.0625 * var(--list-inset));
    }

    .BlogLayoutMain span.parens {
      color: var(--color-faint);
    }

    .BlogLayoutMain a {
      line-height: var(--text-base--line-height);
      letter-spacing: var(--text-base--letter-spacing);
      color: var(--color-shout);
      text-decoration: underline;
      text-decoration-thickness: 1.5px;
      text-underline-offset: 3px;
      text-decoration-color: var(--color-faint);
      transition: text-decoration-color 0.15s ease-out;
    }

    .BlogLayoutMain a:hover {
      text-decoration-color: var(--color-loud);
    }

    .BlogLayoutMain blockquote > p {
      margin-top: 0.75rem;
    }

    .BlogLayoutMain blockquote > p:first-child {
      margin-top: 0rem;
    }

  
    .RootLayout {
      z-index: 0;
      position: relative;
      --root-layout-padding-x: 0rem;
      padding-inline: var(--root-layout-padding-x);
  
      @media (min-width: 64rem) {
        --root-layout-padding-x: 3rem;
      }
    }
  
    .RootLayoutContainer {
      position: relative;
      display: flex;
      flex-direction: column;
      margin-inline: auto;
      min-height: 100dvh;
      max-width: calc(
        var(--breakpoint-xl) - var(--root-layout-padding-x) * 2
      );
  
      @media (min-width: 64rem) {
        padding-block: var(--header-height);
        padding-bottom: 0;
  
        /* Striped gutters extending outward from container */
        &::before,
        &::after {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          width: 50vw; /* half viewport width should be enough */
          background: repeating-linear-gradient(
            45deg,
            var(--color-gridline) 0px,
            var(--color-gridline) 0.5px,
            transparent 1px,
            transparent 8px
          );
          opacity: 0.5;
          pointer-events: none;
          z-index: -1;
        }
  
        /* Left gutter */
        &::before {
          right: 100%; /* extend leftward from container edge */
        }
  
        /* Right gutter */
        &::after {
          left: 100%; /* extend rightward from container edge */
        }
      }
    }
  
    .RootLayoutContent {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      position: relative;
      z-index: 1;
  
      @media (min-width: 64rem) {
        /* 1px grid lines at container edges */
        &::before,
        &::after {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          width: 1px;
          background-color: var(--color-gridline);
        }
  
        &::before {
          left: 0;
          margin-left: -1px;
        }
  
        &::after {
          right: 0;
          margin-right: -1px;
        }
      }
    }

    @media screen and (max-width: 40rem) {
      .BlogLayoutRoot {
        padding-inline: 2rem;
      }
      .ContentLayoutRoot {
        padding-inline: 2rem;
      }
    }

    @media screen and (max-width: 20rem) {
      .BlogLayoutRoot {
        padding-inline: 1rem;
      }
      .ContentLayoutRoot {
        padding-inline: 1rem;
      }
    }
  }

@font-face {
    font-family: 'Roobert';
    src: url('/fonts/RoobertTRIAL-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roobert';
    src: url('/fonts/RoobertTRIAL-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roobert';
    src: url('/fonts/RoobertTRIAL-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roobert';
    src: url('/fonts/RoobertTRIAL-RegularItalic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Geist Mono';
    src: url('/fonts/GeistMono-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


