---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout>
    <div class="ContentLayoutRoot">
        <Header />
        <div class="ContentLayoutMain">
            <div class="ContentLayoutMain">
                <h1 class="text-xl font-medium text-loud">Beyond Webflow: Choosing the Slower Path</h1>
                <p class="text-base mb-2">Two years ago I built an illustrator’s portfolio in a day, last weekend we did it again.</p>
                <a href="/thoughts/slowing-down"class="text-blue font-medium underline underline-offset-2">Read for 2 minutes</a>
            </div>
        </div>
    </div>
</Layout>