---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import CheckerLogo from '../components/CheckerLogo.astro';
import ThoughtsList from '../components/ThoughtsList.astro';
---

<Layout>
    <div class="ContentLayoutRoot">
        <div class="ContentLayoutMain">
            <CheckerLogo href="/" transition:name="checker" />
            <div class="ContentLayoutMain">
                <h1 class="text-lg font-medium text-loud mb-4">Thoughts</h1>
                <div class="flex flex-col gap-4">
                    <ThoughtsList />
                </div>
            </div>
        </div>
        <Footer />
    </div>
</Layout>