<footer class="absolute bottom-0 left-0 right-0 w-full h-16 text-muted">
    <div class="p-4 flex items-center justify-center">
        <a href="/" class="text-sm text-muted">Alex Villacres</a>
    </div>
</footer>