<header class="absolute top-0 left-0 right-0 w-full h-16 text-muted text-sm">
        <div class="p-4 flex items-center justify-center">
            <a href="/" class="HeaderLogo">Alex Villacres</a>
        </div>
    </div>
</header>