---
import { Image } from 'astro:assets';
const {
  author = '',
  avatar = '',
  pill1 = '',
  pill2 = '',
} = Astro.props;
---

<figure class="flex flex-col p-4 my-10 -m-4 rounded-xl bg-gray-75 border border-gray-200 gap-4">
    <figcaption class="flex items-center justify-between">
        <div class="flex items-center gap-2">
        {avatar && <Image src={avatar} alt="" class="w-6 h-6 rounded-full" loading="lazy" />}
        <span class="text-muted text-md">{author}</span>
        </div>
        <div class="">
        {pill1 && <span class="text-xs text-muted px-2 py-1 rounded-sm bg-gray-100 border border-gray-200">{pill1}</span>}
        </div>
    </figcaption>

    <blockquote class="text-base text-base">
        <slot />
    </blockquote>
</figure>