---
import Layout from "./Layout.astro";
import Header from "../components/Header.astro";
---

<Layout>
    <div class="BlogLayoutRoot">
        <Header />
        <a href="/thoughts" class="font-medium text-muted">â† Back</a>
        <div class="BlogLayoutMain">
            <slot />
        </div>
    </div>
</Layout>