---
import '../styles/global.css';
import { ClientRouter } from 'astro:transitions';
---
<!doctype html>
	<html lang="en">
		<head>
			<meta charset="UTF-8" />
			<meta name="viewport" content="width=device-width" />
			<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
			<meta name="generator" content={Astro.generator} />
			<title>Alex Villacres | Designer & Developer</title>
			<ClientRouter />
		</head>
		<body>
			<div class="RootLayout">
				<div class="RootLayoutContainer">
					<div class="RootLayoutContent">
						<slot />
					</div>
				</div>
			</div>
			<script type="module">
				import { setupPreviewCards } from "/scripts/previewCard.js";
				if (typeof window !== 'undefined') {
					// Initial setup
					setupPreviewCards();
					
					// Re-setup on navigation events
					document.addEventListener('astro:page-load', setupPreviewCards);
					document.addEventListener('astro:after-swap', setupPreviewCards);
				}
			  </script>
		</body>
	</html>